.hero-unit
  %h1 Ninja das Dúvidas
  - if has_credits?
    %p Olá, bem vindo ao Ninja das Dúvidas, seu assassino de dúvidas!
    = "Você possui #{current_coupon.credits} créditos"
    = link_to "Entrar", new_question_path, class: "btn btn-large btn-primary"
  - else
    %p Olá, bem vindo ao Ninja das Dúvidas, seu assassino de dúvidas! Coloque abaixo o código de login que você recebeu:
    = form_tag "/login" do
      .row
        .input-prepend.span4
          .add-on Email
          = text_field_tag :email
        .input-prepend.span4
          .add-on Código
          = text_field_tag :code
      .row
        .span6
          = submit_tag "Entrar",  class: "btn btn-large btn-primary"