.hero-unit
  %h1 Ninja das Dúvidas
  - if has_credits?
    %p Você ainda tem <strong>#{current_coupon.credits} perguntas</strong> com o código <strong>#{current_coupon.code}</strong>.
    %p Nossos ninjas tentarão responder o mais rápido possível. 
    %p Fique ligado no e-mail <strong>#{session[:email]}</strong>, sua resposta será enviada para este endereço!
    %br
    = link_to "Perguntar", new_question_path, class: "btn btn-large btn-danger"
    = link_to "Usar outro código", "/logout", class: "btn btn-large"
  - else
    %p Olá, bem vindo ao Ninja das Dúvidas, seu assassino de dúvidas! 
    %p Introduza o código do seu cartão e o e-mail onde você gostaria de ser respondido.
    = form_tag "/login", id: :login do
      .row
        .control-group.span4
          %label.control-label Email
          .controls
            = text_field_tag :email, nil, {class: "span4", autocomplete: "off"}
        .control-group.span4
          %label.control-labe Código
          .controls
            = text_field_tag :code, nil, {class: "span4", autocomplete: "off"}
      .row
        .span6
          = submit_tag "Entrar",  class: "btn btn-large btn-danger"