= form_tag questions_path do
  .form-horizontal
    %h2 Mete bronca!
    %h3 Tentaremos responder o mais rápido possível.
    .control-group
      %label.control-label Título
      .controls
        = text_field_tag :title, nil, class: "input-xxlarge"
    .control-group
      %label.control-label Descrição
      .controls
        = text_area_tag :question, nil, rows: 8, class: "input-xxlarge"
    .form-actions
      = submit_tag "Perguntar",  class: "btn btn-large btn-primary", 
            :confirm => "Esta pergunta custará 1 crédito. Você deseja enviá-la aos nossos ninjas?"
      = link_to "Cancelar", :root , class: "btn btn-large"