.row-fluid
  .span6

    = form_for @solution_step do |f|
      - if @solution_step.errors.any?
        #error_explanation
          %h2= "#{pluralize(@solution_step.errors.count, "error")} prohibited this solution_step from being saved:"
          %ul
            - @solution_step.errors.full_messages.each do |msg|
              %li= msg

      .field
        = f.label "Passo"
        = f.text_field :number, class: "span12"
      .field
        = f.label "Resolução"
        = f.cktext_area :body, class: "span12", id: "inputText", rows: 8
      .field
        = f.hidden_field :exercise_id, class: "span12"
      .actions
        = f.submit 'Salvar', class: "btn btn-primary"

  .span6
    #preview


= javascript_include_tag "solution_steps"