%p
  %b Passo:
  = @solution_step.number
%p
  %b Resolução:
  = @solution_step.body
%p
  %b Exercício:
  = @solution_step.exercise_id

= link_to 'Editar', edit_solution_step_path(@solution_step)
\|
= link_to 'Voltar', solution_steps_path
