.page-header
  %h1 Livros

.row-fluid
  - if can? :create, Book
    .span2
      = link_to 'Novo livro', new_book_path, class: "btn btn-primary"

  .span10
    %table.table
      %tr
        %th Título
        %th Autor
        %th Edição
        - if current_user
          - if current_user.admin?
            %th
            %th

      - @books.each do |book|
        %tr
          %td= link_to book.title, book
          %td= book.author
          %td= book.edition
          - if current_user
            - if current_user.admin?
              %td= link_to 'Edit', edit_book_path(book)
              %td= link_to 'Destroy', book, method: :delete, data: { confirm: 'Are you sure?' }