.page-header
  %h1 Livros

.row-fluid
  .span3
    = link_to 'Adicionar livro', new_book_path, class: "btn btn-primary"

  .span9
    %table.table
      %tr
        %th Título
        %th Autor
        %th Edição
        %th
        %th

      - @books.each do |book|
        %tr
          %td= link_to book.title, book
          %td= book.author
          %td= book.edition
          %td= link_to 'Edit', edit_book_path(book)
          %td= link_to 'Destroy', book, method: :delete, data: { confirm: 'Are you sure?' }