.page-header
  %h1= @book.title

.row-fluid

  .span3
    = link_to 'Novo capítulo', new_chapter_path(:book => @book.id), class: "btn btn-primary"
    %br
    %br
    %h4 Dados do livro
    %p
      %b Título:
      = @book.title
    %p
      %b Autor:
      = @book.author
    %p
      %b Edição:
      = @book.edition
    %p
      %b Editora:
      = @book.publisher
    %p
      %b ISBN 10:
      = @book.isbn10
    %p
      %b ISBN 13:
      = @book.isbn13
    %p
      %b Descrição:
      = @book.description

    = link_to 'Editar', edit_book_path(@book)
  
  .span9
    %h4 Capítulos
    %table.table.table-hover
      - @chapters.each do |chapter|
        %tr
          %td= link_to chapter.number, chapter
          -if current_user
            - if current_user.admin?
              %td= link_to 'Edit', edit_chapter_path(chapter)
              %td= link_to 'Destroy', chapter, method: :delete, data: { confirm: 'Are you sure?' }

