.page-header
  %h1= (link_to Book.find(@chapter.book_id).title, @chapter.book) + ' > Capítulo ' + @chapter.number

.row-fluid
  .span3
    - if can? :create, Exercise
      = link_to 'Novo exercício', new_exercise_path(:chapter => @chapter.id), class: "btn btn-primary"
    %br
    %br
    %h4 Dados do livro
    %p
      %b Título:
      = @chapter.book.title
    %p
      %b Autor:
      = @chapter.book.author
    %p
      %b Edição:
      = @chapter.book.edition
    %p
      %b Editora:
      = @chapter.book.publisher
    %p
      %b ISBN 10:
      = @chapter.book.isbn10
    %p
      %b ISBN 13:
      = @chapter.book.isbn13
    %p
      %b Descrição:
      = @chapter.book.description
    - if can? :edit, @chapter
      = link_to 'Editar', edit_book_path(@chapter.book)

  .span9
    %h4 Exercícios
    %table.table.table-hover

      - @exercises.each do |exercise|
        %tr
          %td= link_to exercise.number, exercise
          -if current_user
            - if current_user.admin?
              %td= link_to 'Editar', edit_exercise_path(exercise)
              %td= link_to 'Remover', exercise, method: :delete, data: { confirm: 'Are you sure?' }

