.page-header
  %h1= (link_to @exercise.chapter.book.title, @exercise.chapter.book) + " > " + (link_to "Capítulo #{@exercise.chapter.number}", @exercise.chapter) + ' > Exercício ' + @exercise.number

.row-fluid
  - if can? :create, SolutionStep
    .span2
      =link_to "Novo passo", new_solution_step_path(exercise: @exercise.id), class: "btn btn-responde"

  .span10
    - @solution_steps.each do |solution_step|
      -if current_user
        - if can? :edit, solution_step
          .pull-right
            = link_to 'Edit', edit_solution_step_path(solution_step)
            \|
            = link_to 'Destroy', solution_step, method: :delete, data: { confirm: 'Are you sure?' }
      %p= "Passo " + solution_step.number
      .hero-unit.solution-step
        .main
          = solution_step.body.html_safe
        .comments
          = link_to "Comentários (#{solution_step.comments.count})", "#", class: "btn btn-responde show-comments"
          .comments-inner
            - solution_step.comments.each do |c|
              .comment
                - if can? :destroy, c
                  = link_to comment_path(c), method: "DELETE", class:"remove-comment" do
                    %i.icon-remove
                .author_picture= image_tag(c.user.image_url, height: 50)
                .comment_texts
                  .author
                    %span.name= c.user.name
                    %span.when= c.created_at.strftime("em %d/%m/%Y às %H:%Mh.")
                  .content= simple_format c.content
                .clear
            - if can? :create, Comment
              .new
                .user_picture= image_tag(current_user.image_url, height: 50)
                = form_for([solution_step, @comment]) do |f|
                  = f.text_area :content, rows: 4, class: "comment-content"
                  = f.submit "Comente Aí :)", class: "btn btn-responde btn-small"
                  = link_to "Cancelar", "#", class: "btn btn-small cancel-comment",  style: "display: none;"
                .clear