!!! html
%html{class: "js flexbox canvas canvastext webgl no-touch geolocation postmessage websqldatabase indexeddb hashchange history draganddrop websockets rgba hsla multiplebgs backgroundsize borderimage borderradius boxshadow textshadow opacity cssanimations csscolumns cssgradients cssreflections csstransforms no-csstransforms3d csstransitions fontface generatedcontent video audio localstorage sessionstorage webworkers applicationcache svg inlinesvg smil svgclippaths"}
  %head
    %title Responde Aí
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
    = favicon_link_tag
    = mathjax_tag
    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-37985665-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

  %body
    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          = link_to image_tag("logo.png"), root_path if !current_page?("/")
          %ul.nav.pull-right
            %li{class: current_page?(controller: "books") ? "active" : ""}= link_to "Livros", "/books"
            - if current_user
              %li= link_to "Desconectar de #{current_user.name.split.first}", signout_path
            - else
              %li= link_to "Conectar", "/auth/facebook"
    #content.container
      - if notice
        .alert
          %button.close{type: "button", 'data-dismiss' => "alert"} ×
          = notice
      - if alert
        .alert.alert-error
          %button.close{type: "button", 'data-dismiss' => "alert"} ×
          = alert
      =yield