!!! html
%html{class: "js flexbox canvas canvastext webgl no-touch geolocation postmessage websqldatabase indexeddb hashchange history draganddrop websockets rgba hsla multiplebgs backgroundsize borderimage borderradius boxshadow textshadow opacity cssanimations csscolumns cssgradients cssreflections csstransforms no-csstransforms3d csstransitions fontface generatedcontent video audio localstorage sessionstorage webworkers applicationcache svg inlinesvg smil svgclippaths"}
  %head
    %title Ninja das Dúvidas
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
    = favicon_link_tag
    = mathjax_tag

  %body
    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          = link_to image_tag("logo.png"), root_path
          %ul.nav.pull-right
            %li{class: current_page?(controller: "books") ? "active" : ""}= link_to "Livros", "/"
            %li{class: current_page?(controller: "questions", action: "about") ? "active" : ""}= link_to "Quem são esses ninjas?", "/about"
            - if current_user
              %li= link_to "Desconectar de #{current_user.name.split.first}", signout_path
            - else
              %li= link_to "Conectar", "/auth/facebook"
    #content.container
      - if notice
        .alert
          %button.close{type: "button", 'data-dismiss' => "alert"} ×
          = notice
      - if alert
        .alert.alert-error
          %button.close{type: "button", 'data-dismiss' => "alert"} ×
          = alert
      =yield